.menu{
   
}
.menu__content{
    width: 70%;
    margin:0 auto;
    padding:40px 0;
}
.menu__name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__name h1{
    font-size:1.8rem;
    color:#ED9B55;
    font-weight: bolder;

    position: relative;
    padding:10px 0;
}
.menu__name h1::after{
    content: '';
    position: absolute;
    bottom: 0;
    left:0;
    width: 40px;
    height: 4px;
    background-color: #111;
}
.menu__name span{
    background-color: #111;
    color:#fff;

    padding:10px 20px;
    font-size:0.8rem;
    cursor: pointer;
    position: relative;
    z-index: 9;
 
    display: block;
    font-weight: bold;
    border:2px solid #111;
    
}
.menu__name span::after{
    content: '';
    background-color: #fff;

    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    opacity: 0;
    transition: 0.6s all;
    transform: translateX(-100px);

}

.menu__name span:hover::after{
    opacity: 1;
    transform: translateX(0px);
  
}
.menu__name span:hover{
    color:#111;
    
}

.menu__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu__item{
    width: 330px;
    margin:10px 0;
    cursor: pointer;

    position: relative;
    z-index: 100;
}
.menu__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu__item .selling{
    display: flex;
    align-items: center;
    
    position:absolute;
    z-index: 1000;
    top:10px;
    right: 0px;
    background-color: #EA8025;
    
    padding:8px 10px;
}
.menu__item .selling .MuiSvgIcon-root{
    color:#fff;
}
.menu__item .selling span{
    color:#fff;
    font-size:0.7rem;
    text-align: center;
  
   
}
.menu__item h1{
    font-size:0.9rem;
    margin-bottom: 30px;
}

.menu__item span{
    color:orange;
    font-weight: bold;
    font-size:1.3rem;

}
.menu__onSubmit{
    margin-top:20px;
}
.menu__onSubmit button{
    cursor: pointer;
    border:none;
    overflow: hidden;
}
.menu__onSubmit button:focus{
    outline: none;
}
.menu__onSubmit .sell{
    padding:10px 15px;
    color:#fff;
    background-color: orange;
    /* border:1px solid #fff; */
    border:3px solid orange;
    margin-right: 15px;
    font-weight: bold;

    position: relative;
    z-index: 11;

    transition: all .6s;
}
.menu__onSubmit .sell:hover{
    background-color: transparent;
    color:orange;
}
.menu__onSubmit .sell::after{
    content: '';
    background-color: #fff;
   
    width: 100%;
    height: 100%;


    position: absolute;
    z-index: -1;
    top:0;
    left:0;

    transform: translateX(-100px);
    transition: all .7s;
    opacity: 0;
}
.menu__onSubmit .sell:hover::after{
    opacity: 1;
    transform: translateX(0px);
    
}
.menu__onSubmit .research{
    padding:10px 15px;
    color:orange;
    background-color: #fff;
    /* border:1px solid #fff; */
    border:3px solid orange;
    margin-right: 15px;
    font-weight: bold;

    position: relative;
    z-index: 11;

    transition: all .6s;
}
.menu__onSubmit .research::after{
    content: '';
    background-color: orange;
   
    width: 100%;
    height: 100%;


    position: absolute;
    z-index: -1;
    top:0;
    left:0;

    transform: translateX(-100px);
    transition: all .7s;
    opacity: 0;
}
.menu__onSubmit .research:hover::after{
    opacity: 1;
    transform: translateX(0px);
}
.menu__onSubmit .research:hover{
    background-color: transparent;
    color:#fff;
}
@media only screen and (max-width:945px){
    .menu__item {
        width: 275px;
    }
}
@media only screen and (max-width:790px){
    .menu__items{
        flex-direction: column;
    }
    .menu__item{
        width: 330px;
    }
}
@media only screen and (max-width:390px){
  
    .menu__item{
        width: 220px;
    }
    .menu__onSubmit{
        text-align: center;
    }
    .menu__onSubmit .sell{
        margin-bottom: 10px;
    }
    .menu__onSubmit .sell,.menu__onSubmit .research{
        width: 100%;
    }
}
