@font-face{
    font-family: black-jack;
    src:url('../../Assets/Font/blackjack.otf')
}
.header{
    background-color: #111;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 9999;
}
.header__content{
    width: 80%;
    margin:0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

   
}
.header__logo a{
    text-decoration: none;
}
.header__logo a h1{
    color:#fff;
    font-size:1.3rem;
    font-weight: bolder;
    font-family:  black-jack;
}
.header__navbar nav ul{
    display: flex;
    align-items: center;
    justify-content:space-around;

    list-style: none;
    margin:0;
}
.header__content nav ul li{
    padding: 20px 15px;
    position: relative;

    cursor: pointer;

}
.header__content nav ul li::before{
    content: '';
    position: absolute;
    bottom: 0;
    left:0;
    width: 0%;
    height: 2px;
    border-bottom: 4px solid orange;
    opacity: 0;
    transition: all .6s;
}
.header__content nav ul li:hover::before{
    opacity: 1;
    width: 100%;
}
.header__navbar nav ul li a{
    text-decoration: none;
    color:#fff;


    font-weight: bolder;
    font-size: 0.8rem;
    
}
.header__content nav ul li a > .MuiSvgIcon-root{
    color:#fff;
    height: 1rem;
    

}
@media only screen and (max-width:1100px){
    .header__content {
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .buger{
        position: absolute;
        top:50%;
        left:10%;
    }
    
    .hambuger{
        width: 50px;
        background-color: #fff;
        height: 3px;

       position: relative;
       transition: all .5s;
    }
    .hambuger::after{
        content: '';
        width: 60px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top:10px;
        left:0;
    }
    .hambuger::before{
        content: '';
        width: 40px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top:-10px;
        left:0;
    }
    .hambugerX{
        width: 20px;
        background-color: #fff;
        height: 3px;
        transform: rotate(45deg);
        position: relative; transition: all .5s;
    }
    .hambugerX::after{
        content: '';
        width: 20px;
        height: 3px;
        transform: rotate(-95deg);
        background-color: #fff;
        position: absolute;
        top:0;
        left:0;
    }
    .header__navbar .navbar ul{
        display: flex;
        flex-direction: column;

        position: absolute;
        top:30px;
        left:0;
        transform: translateX(0px);
        transition: all .5s;
        background-color: #111;
        height: 100vh;
    }
    .header__navbar .navbarOff ul{
        display: flex;
        flex-direction: column;

        position: absolute;
        top:30px;
        left:0;
        transform: translateX(-300px);
        transition: all .5s;
        background-color: #111;
        height: 100vh;
    }
}