.app__background__image{
    width: 100%;
    object-fit: cover;
    height: 700px;

    position: relative;
    cursor: pointer;
}
.app__text{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

    position: absolute;
    bottom: 10px;
    left:50%;
    transform: translate(-50%,-10px);

    text-align: center;
    cursor: pointer;
}
.app__text h1 {
    color:#fff;
    font-size:0.6rem;
    font-weight: bold;
    padding:5px;
    border-bottom: 3px solid #fff;
    
   
}
.mouse-run{
    width: 15px;
    height: 35px;
    border:1px solid #fff;
    border-radius: 10px;

    
    position: relative;

    animation: runMouse 1s ease-in-out infinite alternate;
}
.mouse-run::after{
    content: '';
    width: 2px;
    height: 14px;
    background-color: #fff;

    position:absolute;
    top:25%;
    left:50%;
    transform:translate(-50%,-25%);
}
@keyframes runMouse{
    from{
        transform: translateY(-5px);
    }
    to{
        transform: translateY(0px);
    }
}